# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# Environment variables
.env
.env.local
.env.*.local
packages/hardhat/.env
packages/nextjs/.env.local

# Hardhat
packages/hardhat/cache
packages/hardhat/artifacts
packages/hardhat/deployments/localhost
packages/hardhat/deployments/hardhat

# Next.js
packages/nextjs/.next
packages/nextjs/out

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*